<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{countTotal(satellites)}}</span></div>
   <div>Space Debris: <span>{{countTypes(satellites, "Space Debris")}}</span></div>
   <div>Communication: <span>{{countTypes(satellites, "Communication")}}</span></div>
   <div>Probe: <span>{{countTypes(satellites, "Probe")}}</span></div>
   <div>Positioning: <span>{{countTypes(satellites, "Positioning")}}</span></div>
   <div>Space Station: <span>{{countTypes(satellites, "Space Station")}}</span></div>
   <div>Telescope: <span>{{countTypes(satellites, "Telescope")}}</span></div>
</div>
