.search-form {
    margin-bottom: 40px;
}

button {
    margin-left: 10px;
    color: rgb(87, 85, 85);
    background-color: #90e00f;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 18px;
    cursor: pointer;
}