.sortable {
    cursor: pointer;
    color: rgb(192, 71, 172);
}

.warning {
    color: black;
    background-color: #ec106c;
}

table {
  color: rgb(87, 85, 85);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #aee1e7;
}

.header-row {
    background: #90e00f;
    color: rgb(87, 85, 85);
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    color: rgb(87, 85, 85);
    background: rgb(250, 233, 76)
}